.decoration-none {
	text-decoration: none !important;
}
.page-profile .card-block {
  padding: 40px 15px;
  background-color: #fff; }

.page-profile .card-footer {
  padding: 10px;
  background-color: #f6f9fd;
  border-top: none; }

.page-profile .card .avatar {
  width: 90px;
  margin-bottom: 10px; }

.page-profile .profile-user {
  margin-bottom: 10px;
  color: #263238; }

.page-profile .profile-job {
  margin-bottom: 20px;
  color: #a3afb7; }

.page-profile .profile-social {
  margin: 25px 0; }
  .page-profile .profile-social .icon {
    margin: 0 10px;
    color: rgba(55, 71, 79, 0.4); }

.page-profile .profile-stat-count {
  display: block;
  margin-bottom: 3px;
  color: #526069;
  font-size: 20px;
  font-weight: 100; }
  .page-profile .profile-stat-count + span {
    color: #a3afb7; }

.page-profile .page-content .list-group-item {
  padding: 25px 15px;
  border-top-color: #e4eaec; }
  .page-profile .page-content .list-group-item:first-child {
    border-top: transparent; }
  .page-profile .page-content .list-group-item:last-child {
    border-bottom-color: #e4eaec; }
  .page-profile .page-content .list-group-item .media .avatar {
    width: 50px; }
  .page-profile .page-content .list-group-item .media small {
    color: #a3afb7; }
  .page-profile .page-content .list-group-item .media-heading {
    font-size: 16px; }
    .page-profile .page-content .list-group-item .media-heading span {
      margin-left: 5px;
      color: #76838f;
      font-size: 1rem; }
  .page-profile .page-content .list-group-item .media .media:first-child {
    border-top: none; }

.page-profile .profile-readMore {
  margin: 40px 0; }

.page-profile .profile-brief {
  margin-top: 20px; }

.page-profile .profile-uploaded {
  float: left;
  max-width: 220px;
  width: 100%;
  max-height: 150px;
  padding: 0 20px 20px 0; }
.work-title{
	padding: 25px 25px 0px
}
.datepicker-inline{
	margin: 0 auto;
}
.pie_progress__svg{
	padding: 30px
}
.datepicker-inline {
    display: block !important;
    width: fit-content;
}
.footable-empty{
	text-align: center;
}
.input-group-addon {
    padding: .429rem 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.571429;
    color: #76838f;
    text-align: center;
    background-color: #e4eaec;
    border: 1px solid #e4eaec;
    border-radius: .215rem;
}
#counseList tbody tr td:nth-child(4) {
	text-align: center;
}
#counseList tbody tr td:nth-child(5) {
	text-align: center;
}
#counseMonthList tbody tr td:nth-child(4) {
	text-align: center;
}
#counseMonthList tbody tr td:nth-child(5) {
	text-align: center;
}
#counseMonthList tbody tr td:nth-child(6) {
	text-align: center;
}
#counseMonthList tbody tr td:nth-child(7) {
	text-align: center;
}
#counseMonthList tbody tr td:nth-child(8) {
	text-align: center;
}
.chart-size{
	width: auto;
	height: 200px !important;
}
.footable-last-visible{
	text-align: center;
}
.footable > tfoot .pagination a {
    position: relative;
    float: left;
    padding: 5px 10px;
    margin-left: -1px;
    line-height: 1.57142857;
    color: #76838f;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #e4eaec;
}
.primary-active {
    color: #fff !important;
    background-color: #3e8ef7 !important;
    border-color: #3e8ef7 !important;
}
.success-active {
	color: #fff !important;
    background-color: #11c26d !important;
    border-color: #11c26d !important;
}
.lds-roller {
    margin: auto;
    width: 64px;
    height: 64px;
    margin-top: 5%;
    margin-bottom: 5%;
}
@media (max-width: 418px){
.mobile-height-auto{
	height: auto !important;
	min-height: fit-content;
}
.page-content {
    padding: 0px;
}
#panelHeight{
	min-height: fit-content;
}
}
.panel-header {
    padding: 0px 15px;
}
@media (max-width: 768px){
.card {
    margin-bottom: 0rem;
    border: none;
    box-shadow: none;
}
.mobile-height-auto {
    min-height: fit-content;
    height: 100% !important;
}
.chart-size{
	width: auto;
	height: 200px !important;
}
.panel>.table-responsive .table>tbody>tr>td:first-child, .panel>.table-responsive .table>tbody>tr>th:first-child, .panel>.table-responsive .table>tfoot>tr>td:first-child, .panel>.table-responsive .table>tfoot>tr>th:first-child, .panel>.table-responsive .table>thead>tr>td:first-child, .panel>.table-responsive .table>thead>tr>th:first-child, .panel>.table-responsive .table>tr>td:first-child, .panel>.table-responsive .table>tr>th:first-child, .panel>.table>tbody>tr>td:first-child, .panel>.table>tbody>tr>th:first-child, .panel>.table>tfoot>tr>td:first-child, .panel>.table>tfoot>tr>th:first-child, .panel>.table>thead>tr>td:first-child, .panel>.table>thead>tr>th:first-child, .panel>.table>tr>td:first-child, .panel>.table>tr>th:first-child {
    padding-left: 5px;
}
.panel>.table-responsive .table>tbody>tr>td:last-child, .panel>.table-responsive .table>tbody>tr>th:last-child, .panel>.table-responsive .table>tfoot>tr>td:last-child, .panel>.table-responsive .table>tfoot>tr>th:last-child, .panel>.table-responsive .table>thead>tr>td:last-child, .panel>.table-responsive .table>thead>tr>th:last-child, .panel>.table-responsive .table>tr>td:last-child, .panel>.table-responsive .table>tr>th:last-child, .panel>.table>tbody>tr>td:last-child, .panel>.table>tbody>tr>th:last-child, .panel>.table>tfoot>tr>td:last-child, .panel>.table>tfoot>tr>th:last-child, .panel>.table>thead>tr>td:last-child, .panel>.table>thead>tr>th:last-child, .panel>.table>tr>td:last-child, .panel>.table>tr>th:last-child {
    padding-right: 5px;
}
}