<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="LOG_DIR" value="/opt/jabis/logs" />
  <property name="LOG_PATH_NAME" value="${LOG_DIR}/data.log" />

    <!-- FILE Appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH_NAME}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH_NAME}.%d{yyyyMMdd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] : %m%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] : %m%n</pattern>
      </layout>
    </appender>

  
  <logger name="jdbc" level="OFF"/>
  
  <logger name="jdbc.sqlonly" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  
  <logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger> 
  
  <logger name="jdbc.resultsettable" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  
  <root level="INFO">
    <appender-ref ref="FILE" />
    <!-- <appender-ref ref="STDOUT" /> -->
  </root>
</configuration>