<!DOCTYPE html>
<html class="no-js css-menubar" lang="ko" 
xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/login_layout.html}" 
th:with="
title='JABIS', 
bodyClass='animsition page-forgot-password layout-full'
">
<th:block layout:fragment="page">
<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
	<div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
		<h2>비밀번호 찾기</h2>
		<p>
			가입하신 이메일을 입력하시면 비밀번호 변경을 안내해드립니다.
		</p>
		<form id="forgotPasswordForm" method="post" autocomplete="off" role="form">
			<div class="form-group">
				<input type="email" class="form-control" id="inputEmail" name="email" placeholder="이메일" data-fv-field="email">
			</div>
			<div class="form-group">
				<button id="forgotPasswordButton" type="submit" class="btn btn-primary btn-block">이메일 발송</button>
			</div>
		</form>
		<footer th:replace="fragments/login/footer::footerFragment"></footer>
	</div>
</div>
</th:block>

<th:block layout:fragment="customScript">

</th:block>

<th:block layout:fragment="customStyle">
	<link rel="stylesheet" th:attr="href=@{'/css/custom/forgot-password.css?ver=' + ${@environment.getProperty('app.version')}}">
</th:block>

</html>