<!DOCTYPE html>
<html class="no-js css-menubar" lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="utf-8">
<th:block th:fragment="footerFragment" layout:fragment="footer">
	<footer class="site-footer">
    <div class="site-footer-legal">© 2018 <a href="javascript:void(0)">JABIS</a> <span class="f-s-11">v<span th:text="${@environment.getProperty('app.version')}"></span></span></div>
    <div class="site-footer-right">
      WEB Developer <a href="javascript:void(0)">opzyra</a>
    </div>
  </footer>
</th:block>
</html>