<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>JABIS</title>
	<meta name="robots" content="noindex">
	<meta name="googlebot" content="noindex">
	<meta property="og:type" content="website">
	<meta property="og:title" content="JABIS">
	<meta property="og:description" content="제일학원 통합 관리 시스템">
	<meta property="og:image" content="/images/og-img.jpg">
	<meta property="og:url" content="https://jabis.kr">
	<meta property="og:site_name" content="JABIS">
</head>
<body>
	<script>
	location.href='/login/';
	</script>
</body>
</html>