<!DOCTYPE html>
<html class="no-js css-menubar" lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="utf-8">
<footer class="page-copyright" th:fragment="footerFragment">
	<p>WEBSITE BY OPZYRA</p>
    <p>© 2018. All RIGHT RESERVED.</p>
    <div class="social">
      <a class="btn btn-icon btn-pure" href="javascript:void(0)">
    	<i class="icon bd-github" aria-hidden="true"></i>
  	  </a>
      <a class="btn btn-icon btn-pure" href="javascript:void(0)">
    	<i class="icon bd-linkedin" aria-hidden="true"></i>
  	  </a>
      <a class="btn btn-icon btn-pure" href="javascript:void(0)">
    	<i class="icon bd-google-plus" aria-hidden="true"></i>
  	  </a>
    </div>
</footer>
</html>